body, html {
    background-color: black !important;

    height: 100%;
    color: white !important;

    padding: 0 !important;
    margin: 0 !important;
}

.bg-image {
    background-image: url('../../images/background.jpg');

    filter: blur(8px);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 0 !important;
    margin: 0 !important;
}

.main {
    z-index: 2;

    position: absolute;
    top: 0;
    left: 0;

    overflow: auto;

    padding-left: 2rem;
    padding-right: 2rem;

    height: 100% !important;
    width: 100%;
}

.jumbotron {
    background: #21252977 !important;
    border-radius: 60px;
    margin: 2rem !important;
}

button {
    border-radius: 20px !important;
    opacity: 50% !important;
    transition: 0.25s !important;
}

button:hover {
    border-radius: 20px !important;
    opacity: 100% !important;
}

* {
    user-select: none !important;
    -webkit-user-drag: none !important;
    -webkit-app-region: no-drag !important;

    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px darkgrey;
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    padding-right: 10px;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}